$color: #2563eb;

.flashcards {
  display: grid;
  gap: 1rem;

  @media (min-width: 300px) {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
  @media (min-width: 640px) {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  @media (min-width: 768px) {
    grid-template-columns: repeat(4, minmax(0, 1fr));
  }

  @media (min-width: 1024px) {
    grid-template-columns: repeat(6, minmax(0, 1fr));
  }

  div {
    background-color: #fff;
    border: 2px solid rgb($color, 0.5);
    transition: all 200ms ease-in-out;
    padding: 1.5rem;
    text-align: center;
    border-radius: 0.5rem;

    &:hover {
      box-shadow: var($color);
      transform: scale(1.05);

      svg {
        opacity: 1;
      }
    }

    svg {
      font-size: 1.875rem;
      font-weight: 700;
      color: $color;
      margin-bottom: 0.5rem;
      transition: color 200ms ease-in-out;
      opacity: 0.75;
    }

    h2 {
      font-size: 0.875rem;
      font-weight: 500;
      color: var($color);
    }
  }
}
