header {
  margin-bottom: .5rem;
  h1 {
    text-align: center;
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 700;
    margin-bottom: 0.25rem;
  }
  p {
    text-align: center;
    color: hsl(217 10% 45%);
    font-size: 16px;
  }
}
