.texttoalphabet {
  $color: #2563eb;

  max-width: 1000px;
  margin: 0 auto;
  background: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  border: 2px solid rgba(37, 99, 235, 0.5);

  section {
    position: relative;

    input {
      margin: 0.5rem 0 0;
      width: 100%;
      border: 2px solid $color;
      border-radius: 0.5rem;
      padding: 0.25rem 1.5rem 0.25rem 0.5rem;
      font-size: 0.875rem;
      line-height: 1.25rem;
      background: transparent;
      color: $color;
      outline: none;
      padding: 0.5rem;

      &::placeholder {
        color: rgb($color, 0.5);
      }
    }

    button {
      position: absolute;
      top: 39.5px;
      right: 8px;
      background: transparent;
      border: none;
      padding: 0.4rem;
      border-radius: 100%;
      cursor: pointer;

      & svg,
      span {
        transition: 500ms all;
        color: rgb($color, 0.5);
      }

      &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
      }

      &:not(&:disabled):hover {
        background: rgba($color, 0.1);
        svg,
        span {
          color: $color;
        }
      }
    }
  }
  .copy {
    position: unset;
    display: block;
    margin: 1rem auto;
    border: 2px solid rgba(37, 99, 235, 0.5);
    border-radius: 0.5rem;
    padding: 0.5rem;
    outline: none;
    width: 100px;

    span {
      margin-left: 0.5rem;
      color: rgb($color, 0.5);
      font-weight: 700;
    }
  
  }

  .text {
    font-size: 1.125rem;
    line-height: 1.75rem;
    color: rgb($color, 0.75);
  }

  section {
    .text {
      margin-top: 1.5rem;
    }

    div {
      margin: 0.5rem 0 0;
      display: flex;
      flex-wrap: wrap;
      gap: 1rem;
      border: 2px solid $color;
      border-radius: 0.5rem;
      padding: 0.5rem;

      p {
        font-size: 18px;
        color: rgb($color, 0.75);

        span {
          font-weight: bold;
          color: $color;
          font-family: "itim";
        }
      }
    }
  }
}
